openapi: 3.1.0
info:
  title: Global Partners LP Food Options API
  version: wp/v2
  summary: Food Options from the public WordPress REST API served by www.globalp.com.
  description: 'Food-service option taxonomy for retail locations.


    This contract was derived faithfully from Global Partners LP''s own live WordPress REST API discovery document at https://www.globalp.com/wp-json/
    on 2026-09-12. Every path, method, parameter name, type, description, enum and default below is copied from that document;
    response schemas are inferred from the structure of real unauthenticated responses. Nothing is invented.


    Read operations on this collection are public and unauthenticated. Write operations are present in the provider''s route
    table but are capability-gated: an anonymous request returns HTTP 401 `rest_forbidden`. Global Partners publishes no developer
    program, no API keys and no API documentation; this is the site''s platform API, not a supported product.'
  contact:
    name: Global Partners LP
    url: https://www.globalp.com/contact-us
  termsOfService: https://www.globalp.com/terms-of-use
  x-generated: '2026-09-12'
  x-method: derived
  x-source: https://www.globalp.com/wp-json/
servers:
- url: https://www.globalp.com/wp-json
  description: Production — www.globalp.com WordPress REST API
tags:
- name: sw_food_option
  description: Food-service option taxonomy for retail locations.
paths:
  /wp/v2/sw_food_option:
    get:
      operationId: listSwFoodOption
      summary: List food options
      description: Food-service option taxonomy for retail locations.
      tags:
      - sw_food_option
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: Success.
        '400':
          description: Invalid parameter (rest_invalid_param).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createSwFoodOption
      summary: Create a food option record
      description: Create a food option record. Requires an authenticated WordPress user with the relevant capability; anonymous
        requests receive 401 rest_forbidden.
      tags:
      - sw_food_option
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Success.
        '400':
          description: Invalid parameter (rest_invalid_param).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated, or the authenticated user lacks the capability (rest_forbidden).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/sw_food_option/{id}:
    get:
      operationId: getSwFoodOption
      summary: Retrieve one food option record
      description: Retrieve one food option record. Requires an authenticated WordPress user with the relevant capability;
        anonymous requests receive 401 rest_forbidden.
      tags:
      - sw_food_option
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the food option.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success.
        '400':
          description: Invalid parameter (rest_invalid_param).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No record matches the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: updateSwFoodOption
      summary: Update one food option record
      description: Update one food option record. Requires an authenticated WordPress user with the relevant capability; anonymous
        requests receive 401 rest_forbidden.
      tags:
      - sw_food_option
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the food option.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Success.
        '400':
          description: Invalid parameter (rest_invalid_param).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated, or the authenticated user lacks the capability (rest_forbidden).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No record matches the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteSwFoodOption
      summary: Delete one food option record
      description: Delete one food option record. Requires an authenticated WordPress user with the relevant capability; anonymous
        requests receive 401 rest_forbidden.
      tags:
      - sw_food_option
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the food option.
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as terms do not support trashing.
      security:
      - applicationPassword: []
      responses:
        '200':
          description: Success.
        '400':
          description: Invalid parameter (rest_invalid_param).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated, or the authenticated user lacks the capability (rest_forbidden).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No record matches the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: The WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden, rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: The HTTP status code.
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress application passwords (HTTP Basic). The site's discovery document advertises the authorization
        endpoint at https://www.globalp.com/wp-admin/authorize-application.php. Read operations require no credentials.
