openapi: 3.1.0
info:
  title: Global Partners LP Search API
  version: wp/v2
  summary: Search from the public WordPress REST API served by www.globalp.com.
  description: 'Cross-content-type search across every public post type on globalp.com.


    This contract was derived faithfully from Global Partners LP''s own live WordPress REST API discovery document at https://www.globalp.com/wp-json/
    on 2026-09-12. Every path, method, parameter name, type, description, enum and default below is copied from that document;
    response schemas are inferred from the structure of real unauthenticated responses. Nothing is invented.


    Read operations on this collection are public and unauthenticated. Write operations are present in the provider''s route
    table but are capability-gated: an anonymous request returns HTTP 401 `rest_forbidden`. Global Partners publishes no developer
    program, no API keys and no API documentation; this is the site''s platform API, not a supported product.'
  contact:
    name: Global Partners LP
    url: https://www.globalp.com/contact-us
  termsOfService: https://www.globalp.com/terms-of-use
  x-generated: '2026-09-12'
  x-method: derived
  x-source: https://www.globalp.com/wp-json/
servers:
- url: https://www.globalp.com/wp-json
  description: Production — www.globalp.com WordPress REST API
tags:
- name: search
  description: Cross-content-type search across every public post type on globalp.com.
paths:
  /wp/v2/search:
    get:
      operationId: listSearch
      summary: List search
      description: Cross-content-type search across every public post type on globalp.com.
      tags:
      - search
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
        description: Limit results to items of an object type.
      - name: subtype
        in: query
        required: false
        schema:
          type: array
          default: any
          items:
            enum:
            - post
            - page
            - popup
            - popup_theme
            - sw_employee
            - sw_terminal
            - sw_retail_location
            - sw_property
            - category
            - post_tag
            - sw_business_sector
            - content_type
            - content_topic
            - content_media_type
            - sw_state
            - sw_product
            - sw_service
            - sw_method_of_supply
            - sw_retail_brand
            - sw_fuel_brand
            - sw_fuel_type
            - sw_food_option
            - sw_ownership_status
            - sw_listing_type
            - sw_site_type
            - any
            type: string
        description: Limit results to items of one or more object subtypes.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Search'
        '400':
          description: Invalid parameter (rest_invalid_param).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: The WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden, rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: The HTTP status code.
    Search:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        url:
          type: string
        type:
          type: string
        subtype:
          type: string
        _links:
          type: object
          properties:
            self:
              type: array
              items:
                type: object
                properties:
                  embeddable:
                    type: boolean
                  href:
                    type: string
                  targetHints:
                    type: object
                    properties:
                      allow: {}
            about:
              type: array
              items:
                type: object
                properties:
                  href:
                    type: string
            collection:
              type: array
              items:
                type: object
                properties:
                  href:
                    type: string
      description: A Search record as returned by the public, unauthenticated collection endpoint. Structure derived from
        a live response on 2026-09-12; no values are reproduced.
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress application passwords (HTTP Basic). The site's discovery document advertises the authorization
        endpoint at https://www.globalp.com/wp-admin/authorize-application.php. Read operations require no credentials.
